#screen {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-right: 200px;  
}

#reading-window {
  display: flex;
  width: 500px;
  height: 400px;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 3px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
  appearance: none;
  font-size: 22px;
}

#drag-hand-container {
  height:32px;
  width:32px;
}
#drag-hand-container:hover {
  cursor: grab;
}
#drag-hand-container:active {
  cursor: grabbing;
}

#drag-hand {
  height: 30px;
}

#dropdown-menus-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 20%;
}